@import "src/styles/variables";

section {
  h4 {
    color: #40c980;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  }

  #support {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;

    i {
      font-size: 30px;

      &.fa-paypal {
        color: #169bd7;
      }

      &.fa-patreon {
        color: #e64413;
      }
    }
  }
}
