#topic-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "playlist video";
  grid-gap: 10px;

  #playlist {
    grid-area: playlist;
  }
  #video {
    grid-area: video;
  }
}

@media screen and (max-width: 768px) {
  #topic-container {
    grid-template-columns: 1fr;
    grid-template-areas: "video" "playlist";
  }
}
