@import "src/styles/variables";

#courses-container {
  display: grid;
  grid-gap: 10px;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;

  #course {
    padding: 15px;
    background-color: $tertiary-background;

    img {
      width: 100%;
    }

    #details {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 10px;
      grid-template-areas:
        "author-pic title"
        "author-pic author-name";

      img {
        border-radius: 50%;
        display: block;
        grid-area: author-pic;
      }
      h4 {
        grid-area: title;
        margin: 0;
        color: $orange;
      }
      p {
        grid-area: author-name;
        color: white;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #courses-container {
    grid-template-columns: 1fr;

    a {
      align-self: end;
    }
  }
}
