<app-card [iconClasses]="'fas fa-play'" [title]="'Recommended Courses'">
  <div id="courses-container">
    <div id="course" *ngFor="let course of courses">
      <a [href]="course.url" target="blank">
        <img [src]="course.imageUrl" [alt]="course.title" />
      </a>
      <hr />

      <div id="details">
        <img [src]="course.authorImageUrl" alt="Author" />

        <a [href]="course.url" target="blank">
          <h4>{{ course.title }}</h4>
        </a>
        <p>{{ course.author }}</p>
      </div>
    </div>
  </div>
</app-card>
