<nav [class.is-closed]="isClosed" [class.is-open]="!isClosed">
  <ul>
    <li id="logo">
      <i
        *ngIf="isClosed"
        (click)="openMenu()"
        [class.is-open]="!isClosed"
        class="fas fa-bars"
      ></i>
      <img
        id="logo-img"
        src="../../../assets/image/filmhunterlogo.png"
        alt="Error"
        *ngIf="!isClosed"
        (click)="closeMenu()"
        [routerLink]="['']"
      />
      <i
        class="fas fa-chevron-left"
        *ngIf="!isClosed"
        (click)="closeMenu()"
      ></i>
    </li>
    <hr />

    <li [routerLink]="['category/javascript']">
      <i class="fab fa-js" [routerLinkActive]="'active-route'"></i>
    </li>
  </ul>
</nav>
"
