@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  align-items: center;
  justify-content: end;
  padding: 0 20px 0 70px;
  bottom: 0;
  right: 0;
  width: 100vw;
  position: fixed;
  color: $color;
  background-color: $quaternary-background;

  #logo {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 30px auto;
    align-items: center;

    img {
      display: block;
      width: 100%;
      // align-self: center;
    }

    h3 {
      color: white;
    }
  }

  nav {
    grid-column: 1/3;

    li {
      display: inline-block;
      color: $green;
      font-weight: bold;
      margin-left: 15px;
      border-right: 2px solid $light-grey;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-child {
        border-right: none;
      }

      a {
        padding: 5px 15px;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }
  }

  #social-media {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    justify-content: end;

    a {
      font-size: 25px;
      display: inline-block;
      border-bottom: 3px solid transparent;

      &:hover {
        @include hover-border;
      }
    }
  }

  p {
    margin-top: 0;
  }
}
