<footer>
  <div id="logo">
    <img src="../../../assets/image/filmhunterlogo.png" alt="" />
    <h3>Video Docs Inc.</h3>
  </div>
  <div id="top-of-page" (click)="gotoTopOfPage()">
    <i class="fas fa-caret-up"></i>
  </div>
  <div id="social-media">
    <a><i class="fab fa-youtube"></i></a>
    <a><i class="fab fa-github"></i></a>
    <a><i class="fab fa-linkedin-in"></i></a>
  </div>

  <nav>
    <ul>
      <li><a [routerLink]="['/about']">About</a></li>
      <li><a [routerLink]="['/support']">Support</a></li>
      <li><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
  </nav>

  <p>Copyright © {{ currentYear }} - Video Docs Inc.</p>
</footer>
