#home-container {
  display: grid;
  justify-items: center;
  height: 100%;
  width: 100%;

  h1 {
    align-self: end;
    margin-bottom: 0;
  }

  #main-categories {
    ul {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 30px;
    }
    li {
      display: inline-block;
      font-size: 100px;

      i {
        &.fa-js {
          color: #fffb07;
        }

        &.fa-css3-alt {
          color: #4666ff;
        }
        &.fa-js {
          color: #f7ff00;
        }
      }
    }
  }
}
