@import "src/styles/variables";

#books-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  #book {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;

    #book-content {
      display: grid;
      grid-template-columns: 1fr auto;
      background-color: $tertiary-background;
      padding: 15px;
      grid-column-gap: 20px;

      img {
        background-color: $black;
        padding: 15px 30px;
        display: block;
        max-width: 160px;
      }

      #information {
        display: grid;

        h3 {
          color: $orange;
          margin-top: 0;
          margin-bottom: 0;
        }
        p {
          color: white;
          margin-bottom: 0;
        }
      }
    }

    #book-details {
      display: grid;
      background-color: $tertiary-background;

      hr {
        margin: 0;
      }

      #rating {
        display: grid;
        font-size: 25px;
        grid-template-columns: auto auto;
        padding: 15px;

        #buy,
        i {
          color: $orange;
        }

        #stars {
          justify-self: end;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #books-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  #book-content {
    grid-template-columns: auto 1fr;
  }
}
