article {
  display: grid;
  min-width: 100px;
  max-width: 250px;
  background-color: #2b2b2b;
  padding: 10px;
  grid-gap: 45px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  article {
    max-width: 100%;
  }
}
