$background-color: #2b2b2b;
$quaternary-background: #232323;
$background-color-nav: #252525;
$tertiary-background: #393939;
$black: #1e1e1e;

$color: #929293;
$light-grey: #929293;

$color-li: #40c980;
$green: #40c980;

$css: #0004ff;
$blue: #007acc;
$fb-blue: #2b568e;
$linkedin-blue: #004f63;
$twitter-blue: #11a8cd;

$html: #ff073a;

$javascript: #f7ff00;
$yellow: #e5e510;

$red: #ff6058;
$orange: #c97e5a;

$tablet: 1024px;
