@import "src/styles/variables";

div {
  display: block;
  background-color: $background-color-nav;
  padding: 20px;

  h2 {
    color: white;
    margin-top: 0;

    i{
      margin-right: 10px;
      color: $color;
    }
  }

  #card-body {
    padding: 0;
  }
}
