@import "src/styles/variables";

#category-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 300px;
  margin-left: 50px;
  grid-template-areas:
    "breadCrumbs breadCrumbs"
    "header ."
    "document side-bar"
    "courses side-bar"
    "books side-bar";

  app-bread-crumbs {
    grid-area: breadCrumbs;
  }

  app-header {
    grid-area: header;
  }

  app-side-bar {
    grid-area: side-bar;
  }

  app-books {
    grid-area: books;
  }

  app-courses {
    grid-area: courses;
  }

  #category-content {
    grid-area: document;
  }
}

@media screen and (max-width: 768px) {
  #category-container {
    margin-left: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "breadCrumbs"
      "header"
      "document"
      "courses"
      "books"
      "side-bar";

    #category-content {
      #video {
        #video-container {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
