<!-- !changed view in Ep38 at 31:41 -->
<!-- !Will look view in Ep39 at 1:17:03 until the end -->

<div id="category-container">
  <app-bread-crumbs></app-bread-crumbs>

  <app-header [category]="category"></app-header>

  <app-side-bar> </app-side-bar>

  <app-topic-list [category]="category"></app-topic-list>

  <div id="video">
    <app-card [iconClasses]="'fas fa-play'" [title]="'Video Doc'">
      <div id="video-container">
        <app-video></app-video>
        <app-video-playlist [playlist]="category" ></app-video-playlist>
      </div>
    </app-card>
  </div>

  <app-card [iconClasses]="'fas fa-book'" [title]="'Recommended Books'">
    <div id="books">
      <app-book *ngFor="let book of category.books" [book]="book"></app-book>
    </div>
  </app-card>

  <app-card
    id="courses"
    [iconClasses]="'fas fa-play'"
    [title]="'Recommended Courses'"
  >
    <app-courses [courses]="category.courses"></app-courses>
  </app-card>
</div>
