#site-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side-nav main";
  justify-items: center;

  app-side-nav {
    grid-area: side-nav;
    height: 100vh;
  }

  main {
    grid-area: main;
    padding-bottom: 20px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-left: 50px;
    width: 100%;
  }
  
  app-footer {
    grid-column: 1/3;
    justify-self: stretch;
  }
}

@media screen and (max-width: 768px) {
  #site-container {
    margin-left: 0;

    main {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
