#site-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side-nav main" "side-nav footer";

  app-side-nav {
    grid-area: side-nav;
  }

  main {
    grid-area: main;
    padding: 0px 80px;
  }

  app-footer {
    grid-area: footer;
  }
}
