<header>
  <img src="https://via.placeholder.com/1200x400" alt="contact" />
  <h1>Contact</h1>
</header>

<div id="contact-form-container">
  <h2>Get In Touch</h2>
  <h3>Tell Us How Sherk Help</h3>

  <div id="contact-form">
    <div id="name">
      <input type="text" placeholder="Your Name" />
      <i class="fas fa-user"></i>
    </div>

    <div id="email">
      <input type="text" placeholder="Your Email" />
      <i class="fas fa-envelope"></i>
    </div>

    <div id="message">
      <textarea placeholder="Your Message"></textarea>
      <i class="fas fa-pen-fancy"></i>
    </div>

    <button>Submit</button>
  </div>
</div>
