@import "src/styles/variables";

header {
  position: relative;
  text-align: center;

  img {
    max-width: 100%;
  }

  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#contact-form-container {
  #contact-form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name email"
      "message message"
      ". submit";

    input[type="text"],
    textarea {
      padding-left: 33px;
    }

    input,
    textarea {
      &:focus {
        & + i {
          transition: all 0.3s;
          color: $green;
        }
      }
    }

    #name {
      grid-area: name;
    }

    #email {
      grid-area: email;
    }

    #message {
      grid-area: message;
      position: relative;

      i {
        position: absolute;
        top: 22px;
        left: 18px;
        transform: translate(-50%, -50%);
      }
    }

    #name,
    #email {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 18px;
        transform: translate(-50%, -50%);
      }
    }

    button {
      grid-area: submit;
      padding: 10px 30px;
      justify-self: end;
      min-width: 30%;
      background-color: $background-color;
      color: white;
      border: 1px solid $green;
    }
  }
}
