@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

:root {
  --background-color: #1e1e1e;
  --secondary-background: #2b2b2b;
  --tertiary-background: #756c6c;
  --color: #929293;
  --red: #f60a58;
  --green: #40c980;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    overflow: scroll;
    width: 5px;
    background-color: #333333;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "sans-serif";
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

i {
  cursor: pointer;
}

hr {
  margin: 10px 0;
  width: 100%;
  border-color: var(--tertiary-background);
  background-color: var(--tertiary-background);
}

input[type="text"],
textarea {
  padding: 12px;
  width: 100%;
}

textarea {
  min-height: 200px;
}

@media screen and (max-width: 1024px){
  hr{
    display: none;
  }
}
