section {
  display: grid;

  img {
    width: 100%;
  }

  #content {
    background-color: #232323;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;

    h4 {
      color: #c97e5a;
      font-weight: bold;
    }

    #buy-now {
      width: 100%;
      text-align: center;
      background-color: #40c980;
      border: none;
      color: white;
      padding: 10px;
      display: block;
    }
  }
}
